


 





p {
    text-align: justify;
}

@media screen and (max-width: 480px) {
    body{
        background-color: black;
        color: white;
    }
    #parrafo1{
        width: 90%;
        position: relative;
        left: 5%;
        top: 10%;
        font-size: 35px;
    }
    #parrafo2{
        width: 90%;
        position: relative;
        left: 5%;
        font-size: 35px;
    }
    #parrafo3{
        width: 90%;
        position: relative;
        left: 5%;
        font-size: 35px;
    }

}

@media screen and (min-width: 480px) and (max-widht: 980px) {
    body{
        background-color: rgb(19, 121, 45);
        color: white;
    }
    #parrafo1{
        width: 40%;
        position: absolute;
        left: 5%;
        top: 10%;
        font-size: 30px;
    }
    #parrafo2{
        width: 40%;
        position: relative;
        left: 55%;
        font-size: 30px;
    }
    #parrafo3{
        width: 90%;
        position: absolute;
        left: 5%;
        font-size: 30px;
    }
}

@media screen and (min-width: 980px) {
    body{
        background-color: rgb(121, 19, 19);
        color: white;
    }
    #parrafo1{
        width: 25%;
        position: absolute;
        left: 5%;
        font-size: 25px;
    }
    #parrafo2{
        width: 40%;
        position: relative;
        left: 55%;
        font-size: 30px;
    }
    #parrafo3{
        width: 90%;
        position: absolute;
        left: 5%;
        font-size: 30px;
    }
}
