<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Citas</title>
    <link rel="stylesheet" href="../static/css/stylecitas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,100&display=swap" rel="stylesheet">
</head>
<body>
<div class="main-container">
    <h1>Listado de Citas</h1>
    <div class="container">
        <table>
            <tr>
                <th>Nombre y apellido</th>
                <th>Cédula</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Fecha y hora de la cita</th>
            </tr>
            <tr>
                <td>Juan Pérez</td>
                <td>12345678</td>
                <td>555-1234</td>
                <td>juan@example.com</td>
                <td>15/10/2024 10:00 AM</td>
            </tr>
            <tr>
                <td>Maria Gómez</td>
                <td>87654321</td>
                <td>555-5678</td>
                <td>maria@example.com</td>
                <td>16/10/2024 2:00 PM</td>
            </tr>
            <tr>
                <td>Carlos López</td>
                <td>11223344</td>
                <td>555-9101</td>
                <td>carlos@example.com</td>
                <td>17/10/2024 9:00 AM</td>
            </tr>
            <tr>
                <td>Ana Rodríguez</td>
                <td>33445566</td>
                <td>555-2233</td>
                <td>ana@example.com</td>
                <td>18/10/2024 11:30 AM</td>
            </tr>
            <tr>
                <td>Luis Martínez</td>
                <td>55667788</td>
                <td>555-4455</td>
                <td>luis@example.com</td>
                <td>19/10/2024 3:45 PM</td>
            </tr>
        </table>
    </div>
    <div class="button-container"><a href="home.html">Volver</a></div>  
</div>
</body>
</html>