<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styleconsult.css">
    <title>Document</title>
</head>
<body>
    <h1>Consultar usuario</h1>
    <div>
        <label>Id</label><input type="number"> <br> <br>
        <textarea> </textarea> <br> <br>
        <button>Consultar</button> <br> <br>
        <a href="home.html">Volver</a>
        <br> <br>
    </div>
</body>
</html>