<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylehome.css">
    <title>Document</title>
</head>
<body>
    <h1>Aplicación Web</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit diam eros blandit lacus,
        arcu est lobortis himenaeos sapien. Velit et duis mollis potenti libero auctor
        dictumst rutrum lacinia nibh porttitor massa, aliquam id venenatis ullamcorper
        mi senectus ultrices litora cursus convallis justo, ultricies in eu eros nulla tempus
    </p>
    <ol>
        <li><a href="register.html">Ir a formulario</a></li>
        <li><a href="table.html">Ir a tabla</a></li>
        <li><a href="consult.html">Ir a consulta</a></li>
    </ol>
</body>
</html>