<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styletable.css">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cédula</th>
            <th>Fecha</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Contraseña</th>
        </tr>
        <tr>
            <td>Sergio</td>
            <td>Lozano</td>
            <td>14377124</td>
            <td>04/10/2024</td>
            <td>476849129</td>
            <td>email@hotmail.com</td>
            <td>noesunacontraseña</td>
        </tr>
        <tr>
            <td>Andres</td>
            <td>Lozano</td>
            <td>12412552</td>
            <td>05/10/2024</td>
            <td>1234559</td>
            <td>gmail@hotmail.com</td>
            <td>Contraseña</td>
        </tr>
    </table>
    <br>
    <div><a href="home.html">Volver</a></div>
</body>
</html>