<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a nuestra Veterinaria</title>
    <link rel="stylesheet" href="../static/css/stylehome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,100&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="../templates/registro.html"><button>Registro</button></a>
            <a href="../templates/consulta.html"><button>Consulta</button></a>
            <a href="../templates/citas.html"><button>Citas</button></a>
        </nav>
    </header>
    
    <main>
        <img src="../static/images/dogge.webp">
        <p>¡Bienvenidos a cheems, el lugar ideal para amantes de las mascotas! Aquí encontrarás todo lo que necesitas para el bienestar de tus fieles amigos, desde productos de calidad hasta consejos prácticos sobre su cuidado. Nuestro objetivo es brindarte una experiencia única para que cuides y consientas a tu mascota como se merece. ¡Explora y descubre cómo hacer feliz a tu compañero peludo!</p>
        
        <section class="services">
            <div class="service-box">
                <img src="../static/images/shower.jpg">
                <h3>Bañar a tu mascota</h3>
                <p>Mantenemos a tu mascota limpia y feliz con nuestros servicios de baño profesional.</p>
            </div>
            <div class="service-box">
                <img src="../static/images/vaccine.jpg">
                <h3>Vacunación de la mascota</h3>
                <p>Protegemos a tu mascota con las vacunas necesarias para una vida saludable.</p>
            </div>
            <div class="service-box">
                <img src="../static/images/school.png">
                <h3>Guardería para mascota</h3>
                <p>Cuidamos de tu mascota mientras tú no puedes hacerlo, en un ambiente seguro y amigable.</p>
            </div>
        </section>
    </main>
</body>
</html>