 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,100&display=swap" rel="stylesheet">
    <title>Web app</title>
</head>
<body>   
    <h1>Quienes Somos</h1>
    <P id="parrafo1">
        En nuestra veterinaria, somos más que un equipo de profesionales, somos amantes de los animales comprometidos con el bienestar y la salud de tus mascotas. Con años de experiencia en el cuidado veterinario, nos dedicamos a ofrecer un servicio personalizado y de calidad para garantizar que cada mascota reciba la atención que merece. Nos enorgullece ser un lugar de confianza para las familias que buscan lo mejor para sus compañeros de vida.
    </P>
    <p id="parrafo2">
        Nuestra misión es mejorar la vida de tus mascotas a través de una atención integral y compasiva. Creemos que cada animal es único, por lo que ofrecemos servicios adaptados a sus necesidades específicas, ya sea medicina preventiva, atención de urgencias o asesoramiento en nutrición y cuidados generales. Nos esforzamos por crear un ambiente acogedor y seguro, donde tanto las mascotas como sus dueños se sientan en casa.
    </p>
    <p id ="parrafo3">
        En nuestra veterinaria, no solo nos enfocamos en el tratamiento de enfermedades, sino también en la promoción de una vida saludable para tu mascota. Contamos con equipos de última tecnología y un equipo de profesionales altamente capacitados que se mantienen en constante formación. Además, ofrecemos un enfoque cálido y humano, siempre con el objetivo de que cada visita sea una experiencia positiva para tu mascota y para ti.
</body>
</html>